header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
}

.bg-darkergrey {
    background-color: #2C3E50;
}

.bg-darkgrey {
    background-color: #3A546D;
}

.bg-green {
    background-color: #1ABC9C;
}

.text-green {
    color: #1ABC9C;
}

.navbar-brand {
    color: white;
    font-size: larger;
}

.navbar-collapse a {
    color: white;
    font-size: small;
}

.top-img {
    background-image: url("../img/avatar.svg");
    background-repeat: no-repeat;
    background-size: contain;
    height: 250px;
    background-position: center;

}

.white-line {
    width: 100px;
    background-color: white;
    height: 2px;
}

.black-line {
    width: 100px;
    background-color: black;
    height: 2px;
}

.fa-star {
    padding-left: 10px;
    padding-right: 10px;
}

.col img {
    max-width: 100%;
    border-radius: 5%;
}

.download-btn {
    color: white;
    background-color: #1ABC9C;
    border: 1px solid white;
}

.square {
    height: 30px;
    width: 30px;
    border: 1px solid white;
    border-radius: 50%;
    position: relative;
}
.bg-facebook:hover{
    background-image: linear-gradient(to right, blue , white);
}

.bg-google:hover{
    background-image: linear-gradient(to right, red , yellow,green,blue);
}

.bg-twitter:hover{
    background-image: linear-gradient(to right, white , blue);
}

.bg-insta:hover{
    background-image: linear-gradient(to right, purple , red);
}

.col-eff:hover img{
    transform: scale(1.1);
}

.col-eff:active img{
    transform: scale(1.1);
    filter: brightness(1.2);
}